
body{
    background-color:rgb(156, 221, 221,.25);
    font-family: 'Roboto', sans-serif;
}
.contenedor{
    background-image: url('img3.jpg');
    width: 1000px;
    margin: 0 auto;
    border: 10px solid black;
    padding: 5px;
    
}
legend{
    font-size: 18px;
    font-weight: bolder;
    border-radius: 10px;
    border: solid 1px black;
    padding: 5px;
    margin: 5px;
    
}

img{
    width: 180px;
    height: 240px;
    margin: 10px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 21px; 
    padding: 10px;
}

.grid div{
    border: solid 1px rgba(92, 226, 103, 0.5);;
    border-radius: 10px;
    padding: 3px;
    margin: 3px;
    background-color: rgb(146, 238, 154,.50);
}

fieldset{
    border: solid 1px black; 
    border-radius: 10px;
    margin: 10px;
} 